<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">

  <section class="col-xs-12 col-sm-6 col-md-12">

        <h2 style="text-align: center;">{{recipe.title}}</h2>
        <br>
        <h5 style="text-align: center;">{{recipe.numberOfPortions}} servings ~ {{recipe.preparationTime}} min</h5>
        <br><br>
      <article class="search-result row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <img src='{{recipe.image}}' width="300" height="auto"/>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search" *ngFor="let ingredient of recipe.ingredients">
            <li><span> {{ingredient.quantity}} {{ingredient.measurement.measurement}} {{ingredient.ingredient.ingredient}}</span></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <p>{{recipe.description}}</p>
        </div>
        
      </article>
      <br>
    
  </section>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Make this recipe</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form #data="ngForm" id="mform">
        <div class="form-group">
          <label for="comment">Servings: <input type="number" id="lname" name="lname" [(ngModel)]="servings"><br><br></label>
          
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" [(ngModel)]="date">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button">Pick</button>
            </div>
          </div>

          <label *ngIf="ingredientsInStorage.length!=0" for="comment">Use ingredients from storage:</label><br>
          <ul *ngFor="let i of ingredientsInStorage" >
            <li>{{i.quantity}} {{i.measurement.measurement}} {{i.ingredient.ingredient}} - <input type="number" id="lname" name="lname" style="width:60px" [(ngModel)]="ingredientToUseQuantity">{{i.measurement.measurement}} <button class="btn btn-light btn-sm" style="background: #a1ae25;"  [disabled]="!ingredientToUseQuantity">Use</button></li>
          </ul>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light"  style="background: #a1ae25;" (click)="makeRecipe(); modal.close('Save click'); clearFields()"  [disabled]="!servings">Make!</button>
    </div>
  </ng-template>
  
  <button class="btn btn-light"  style="background:  #a1ae25;" (click)="open(content)">Make this recipe</button>
  
  <hr>

</div>