<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container">

  <section class="col-xs-12 col-sm-6 col-md-12">

        <h2 style="text-align: center;">{{recipe.title}}</h2>
        <br>
        <h5 style="text-align: center;">{{recipe.numberOfPortions}} servings ~ {{recipe.preparationTime}} min</h5>
        <br><br>
      <article class="search-result row">

        <div class="col-xs-12 col-sm-12 col-md-3">
          <img src="../../../assets/pizza.jpg" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-2">
          <ul class="meta-search" *ngFor="let ingredient of recipe.ingredients">
            <li><span> {{ingredient.quantity}} {{ingredient.measurement.measurement}} {{ingredient.ingredient.ingredient}}</span></li>
          </ul>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-7 excerpet">
          <p>{{recipe.description}}</p>
        </div>
        
      </article>
      <br>
    
  </section>

 
  
</div>