<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<div class="containerbody">
  <div class="container auth">
      <br>
      <br>
      <br>
      <div id="big-form" class="well auth-box">
        <h4>Create new recipe</h4>

    <br>
          <h5>Basic info</h5>
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="textinput">Name:</label>
              <div class="">
                  <input class="form-control" type="text" >
               
              </div>
          </div>
          
          <div class="form-group row">
             <label class="col-sm-2 col-form-label" for="textinput">Description:</label>
              <div class="">               
                <textarea class="form-control" type="text" ></textarea>
              </div>
          </div>
          
          <div class="form-group row">
              <label class="col-sm-2 col-form-label" for="textinput">Servings:</label>
              <div class="">
                <input type="number" id="lname" name="lname" style="width:60px">                
              </div>
          </div>
          
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="textinput">Preparation time (in minutes):</label>
            <div class="">
              <input type="number" id="lname" name="lname" style="width:60px">                
            </div>
        </div>
    
      <br>
      <br>
      <label class="asearch-label" for="selectbasic" (click)="showIngredients()">Ingredients
        <img src='../../../assets/triangle_down.png' height="21" width="21" *ngIf="!ingredientsVisible" />
        <img src='../../../assets/triangle_up.png' height="21" width="21" *ngIf="ingredientsVisible" />
    </label>
      <div class="form-group">
              <div *ngIf="ingredientsVisible">
                 <div class="" *ngFor="let ingredient of allIngredients">
                    <div class="checkbox">
                        <label for="checkboxes-0">
                            <input name="checkboxes" id="checkboxes-0"  type="checkbox"> {{ingredient.ingredient}} <input type="number" id="lname" name="lname" style="width:60px">
                            <select>
                              <option *ngFor="let measurement of measurements">
                                  {{measurement}}
                              </option>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
          </div>
    
          <br>
    
       <div class="form-group">
              <div class="">
                   <button class="btn btn-light"  style="background:  #a1ae25;" (click)="create(apartment)" >Create</button>
              </div>
          </div>	  
      </div>
      <br>
      <br>
      <div class="clearfix"></div>
  </div>
</div>