<div>
  Add ingredient
  <form>
    <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field class="example-chip-list">
        <mat-chip-list #chipList aria-label="Tags selection">
          <mat-chip *ngFor="let fruit of fruits" [selectable]="selectable" [removable]="removable"
            (removed)="remove(fruit)">
            {{fruit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Tags..." #fruitInput [formControl]="fruitCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let fruit of filteredFruits | async" [value]="fruit">
            {{fruit}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


      <mat-form-field>
        <input number placeholder="Expiration">
      </mat-form-field>

      <button mat-button>Add ingredient</button>
    </div>
  </form>
  Recipe list
  <div>


  </div>

</div>